  .container {
    font-family: Poppins;
    display: flex;
    align-items: stretch;
    justify-content: center;
    height: 100vh; /* Ocupa toda la altura de la ventana */ 
  }

  .image {
    flex: 1;
    display: flex;
    align-items: center; /* Centra la imagen verticalmente */
    justify-content: center; /* Centra la imagen horizontalmente */
    padding: 20px;
    max-width: 100%;
    max-height: 100%; /* Asegura que la imagen no exceda el alto del contenedor */
    height: auto;   
  }

  .campo{
    margin: 40px;
  }
  
  .form {  
    text-align: center;
    background-color: #C7C7C7;
    padding: 30px;
    border-radius: 20px;   
    max-width: 400px; /* Ancho máximo del formulario */   
  }

  body { 
    justify-content: center; /* Centra el formulario horizontalmente */
    align-items: center; /* Centra el formulario verticalmente */
    height: 100vh; /* Ocupa toda la altura de la ventana */
  }

  p {
    color: black;
  }

  h1 {
    color: #E36414 ;
  }