.btn {
    font-family: Poppins;
    text-align: center;
    padding: 10px 24px;
    font-size: 16px;
    border: none;
    border-radius: 64px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px;
  
  }
  
  .btn-primary {
    color: #fff;
    background-color: #E36414;
  }
  
  .btn-primary:hover {
    color: black;
    background-color: #F4C1A1;
  }
  
  .btn-secondary {
    color: #0F4C5C;
    border-color: #0F4C5C;    
  }
  
  .btn-secondary:hover {
    background-color: #94D1E1;
  }
